---
layout: default
---
{% include home/cover.html %}

<div class="kacheln container">
  <div class="kachel">

    <h3><a href="{{ site.baseurl }}/die-smj-fulda" class="kachel__link">
      {% include icons/schoenstatt.svg %}
      SMJ-Fulda
    </a></h3>

    <p>
      Wir sind eine katholische Jugendgemeinschaft und Teil der Schönstattbewegung im Bistum Fulda.
    </p>
  </div>
  <!--div class="kachel">
    <h3><a href="/säulen">Jugendarbeit</a></h3>
    <p>
      Wichtige Elemente unserer Jugendarbeit sind die Übermittlung christlicher Werte und die Erziehung zu freien Persönlichkeiten mit einer Festigkeit im Glauben.
    </p>
  </div-->
  <div class="kachel">
    <h3><a href="{{ site.baseurl }}/zeltlager" class="kachel__link">
      {% include icons/zelt.svg %}
      Zeltlager
    </a></h3>
    <p>
      Das Zeltlager in den Sommerferien ist das Highlight unserer Arbeit.<br /><a href="{{ site.baseurl }}/zeltlager/2017">Herr der Ringe 4.–15 Juli 2017</a>
    </p>
  </div>
  <div class="kachel">
    <h3><a href="{{ site.baseurl }}/aktionen" class="kachel__link">
      {% include icons/boni-heiligtum.svg %}
      Aktionen
    </a></h3>
    <p>
      Wir übermitteln christliche Werte und die Erziehung zu freien Persönlichkeiten mit einer Festigkeit im Glauben.
    </p>
  </div>
  <div class="kachel">
    <h3><a href="http://shop.smj-fulda.org" class="kachel__link">
      {% include icons/jesus.svg %}
      SMJ-Shop
    </a></h3>
    <p>
      Trage JESUS in die Welt! JESUS-Shirt, JESUS-Pulli, JESUS-Handtücher uvm.
    </p>
  </div>
</div>

<div class="newsfeed container">
  {% include home/newsfeed.html %}
</div>

<div class="newsfeed-addition container">
  <a href="{{ site.baseurl }}/artikel" class="more-link">Mehr Neuigkeiten</a>
</div>

<aside class="container home-aside">
  <div class="naechste-termine">
    <h3 class="sidebar__title">Nächste Termine</h3>
    {% include upcoming_events.html %}

    <a href="{{ site.baseurl }}/termine" class="more-link" title="Terminübersicht">Alle Termine</a>
  </div>
  <div class="kontakt-info" id="kontakt">
    <div class="kontakt-info__section">
      <h3 class="sidebar__title">Diözesanführung</h3>

      <div class="contact">
        <img class="contact__image" src="{{ site.baseurl }}/images/profile/simon-wawra.jpg" />
        <div class="contact__name">
          Simon Wawra
        </div>
        <div class="contact__mail">
          <a href="mailto:simon.wawra@smj-fulda.org">simon.wawra@smj-fulda.org</a>
        </div>
        <strong class="contact__office">Diözesanführer</strong>
      </div>
      <div class="contact">
        <img class="contact__image" src="{{ site.baseurl }}/images/profile/johannes-wende.jpg" />
        <div class="contact__name">
          Johannes Wende
        </div>
        <div class="contact__mail">
          <a href="mailto:johannes.wende@smj-fulda.org">johannes.wende@smj-fulda.org</a>
        </div>
        <strong class="contact__office">Stellvertreter</strong>
      </div>
    </div>
    <div class="kontakt-info__section">
      <h3 class="sidebar__title">Kontakt Website</h3>
      <div class="contact">
        <img class="contact__image" src="{{ site.baseurl }}/images/profile/johannes-mueller.jpg" />
        <div class="contact__name">
          Johannes Müller
        </div>
        <div class="contact__mail">
          <a href="mailto:johannes.mueller@smj-fulda.org">johannes.mueller@smj-fulda.org</a>
        </div>
        <strong class="contact__office">Online-Redaktion</strong>
      </div>
      <div class="contact">
        <img class="contact__image" src="{{ site.baseurl }}/images/profile/kilian-machill.jpg" />
        <div class="contact__name">
          Kilian Machill
        </div>
        <div class="contact__mail">
          <a href="mailto:kilian.machill@smj-fulda.org">kilian.machill@smj-fulda.org</a>
        </div>
        <strong class="contact__office">Online-Redaktion</strong>
      </div>
    </div>

    <div class="kontakt-info__footer">
      <a href="mailto:{{ site.email }}" class="btn">
        <svg class="social-icon"><use class="icon" xlink:href="#icon-email" /></svg>
        Schreib uns eine E-Mail
      </a>
    </div>
  </div>
</aside>

<figure class="paterspruch container">
  {% include image/schoenstatt-refugium-peccatorum.svg %}
  <blockquote>
    <p>Wir schenken uns der Gottesmutter und was tut sie? Sie schenkt sich uns!</p>
    <footer>
      <cite>P. Kentenich</cite>
    </footer>
  </blockquote>
</figure>

{% include home/instafeed.html %}

<div class="container">
  <figure class="video-wrapper">
    <iframe width="720" height="404" src="https://www.youtube.com/embed/ncFuwCsUyvc" frameborder="0" allowfullscreen=""></iframe>
  </figure>
</div>
