<footer class="site-footer">
  <div class="site-footer__content">
    <div class="site-footer__section site-footer__section-nav">
      <a href="{{ site.baseurl }}/">Homepage</a>
      <a href="{{ site.baseurl }}/artikel/">Artikel</a>
      <a href="{{ site.baseurl }}/termine/">Termine</a>
      <a href="{{ site.baseurl }}/die-smj-fulda/">SMJ-Fulda</a>
      <a href="{{ site.baseurl }}/aktionen/">Aktionen</a>
      <a href="https://shop.smj-fulda.org/">SMJ-Shop</a>
      <a href="{{site.baseurl }}/adventskalender/">SMS-Adventskalender</a>
    </div>
    <div class="site-footer__section site-footer__section-kontakt">
    {% include social-links.html %}
    </div>
    <div class="site-footer__section site-footer__section-tools">
      <a href="{{ site.baseurl }}/#kontakt">Kontakt</a>
      <a href="{{ site.baseurl }}/impressum">Impressum</a>
      <a href="https://smjfulda.slack.com">Slack</a>
      <a href="https://mail.google.com/a/smj-fulda.org/">Webmail</a>
      <a href="{{ site.google_calendar_link }}">Kalender</a>
    </div>
  </div>
</footer>

{% include piwik.html %}

{% include icons/social-icons.svg %}
