<header class="site-header">

  <nav class="site-nav site-nav--main">
      {% for link in site.nav %}
        {% if link[1].title %}
        <a class="page-link{% if page.url == (link[1].url | url_escape) }} %} page-link--active page-link--active--main{% endif %}{% if link[0] == page.section }} %} page-link--section{% endif %}" href="{{ link[1].url | relative_url }}">{{ link[1].title }}</a>
        {% endif %}
      {% endfor %}
  </nav>
  {% if page.section %}
  <nav class="site-nav site-nav--section">
    {% for link in site.nav[page.section].nav %}
      {% if link[1].title %}
      <a class="page-link{% if page.url == (link[1].url | url_escape) }} %} page-link--active page-link--active--section{% endif %}" href="{{ link[1].url | relative_url }}" data-test="{{ page.url }}--{{ link[1].url | url_escape }}">{{ link[1].title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}

</header>
