<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% include metadata.html %}

<meta name="page-commit" content="{{ page.git.last_commit.short_sha }}" />
<meta name="page-commit-date" content="{{ page.git.last_commit.commit_date }}" />

<meta name="favicon" content="{{ site.baseurl }}/favicon.ico" />
<meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
<meta name="application-name" content="{{ site.title }}" />
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/appicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/assets/appicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/appicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/appicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/appicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/appicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/appicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/appicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/appicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/assets/appicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/appicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/assets/appicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/appicons/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/assets/appicons/manifest.json">
<meta name="msapplication-TileColor" content="#c2b7a3" />
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/appicons/ms-icon-144x144.png">
<meta name="theme-color" content="#c2b7a3">
