{% if page.title %}
  {% assign seo_title = page.title | append:" | " | append: site.title %}
  {% assign seo_page_title = page.title %}
{% else %}
  {% assign seo_title = site.title %}
  {% assign seo_page_title = site.title %}
  {% if site.description %}
    {% assign seo_title = seo_title | append:" | " | append: site.description %}
  {% endif %}
{% endif %}
{% assign page_excerpt = page.content | strip_html | truncatewords:75 %}
{% assign seo_description = page.description | default: page.excerpt | default: page_excerpt | default: site.description %}
{% if seo_description %}
  {% assign seo_description = seo_description | markdownify | strip_html | normalize_whitespace | escape_once %}
{% endif %}

  <title>{{ seo_title }}</title>
  <meta property="og:title" content="{{ seo_page_title }}" />
  <meta name="language" content="de" />

{% if page.author %}
  <meta name="author" content="{{ page.author }}" />
{% endif %}

  <meta name="description" content="{{ seo_description }}" />
  <meta property="og:description" content="{{ seo_description }}" />

{% if page.url %}
  <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | absolute_url }}">
  <meta property="og:url" content="{{ page.url | replace:'/index.html','/' | absolute_url }}" />
{% endif %}

  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | absolute_url }}" />

  <meta property="og:site_name" content="{{ site.title }}" />

{% if page.date %}
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
{% endif %}

{% if paginator.previous_page %}
  <link rel="prev" href="{{ paginator.previous_page_path | absolute_url }}">
{% endif %}
{% if paginator.next_page %}
  <link rel="next" href="{{ paginator.next_page_path | absolute_url }}">
{% endif %}

{% if page.image.cover %}
<meta property="og:image" content="{{ page.image.cover | replace: '!baseurl!', site.baseurl }}" />
<meta name="twitter:image" content="{{ page.image.cover | replace: '!baseurl!', site.baseurl }}" />
{% elsif page.cover_image %}
<meta property="og:image" content="{{ page.cover_image | prepend: '/images/pages/' | prepend: site.baseurl }}" />
<meta name="twitter:image" content="{{ page.cover_image | prepend: '/images/pages/' | prepend: site.baseurl }}" />
{% endif %}

{% if site.twitter %}
  {% if seo_page_image or page.image.twitter %}
    <meta name="twitter:card" content="summary_large_image" />
  {% else %}
    <meta name="twitter:card" content="summary" />
  {% endif %}

  <meta name="twitter:site" content="@{{ site.twitter.username | replace:"@","" }}" />
{% endif %}

{% if site.facebook %}
  {% if site.facebook.admins %}
    <meta property="fb:admins" content="{{ site.facebook.admins }}" />
  {% endif %}

  {% if site.facebook.publisher %}
    <meta property="article:publisher" content="{{ site.facebook.publisher }}" />
  {% endif %}

  {% if site.facebook.app_id %}
    <meta property="fb:app_id" content="{{ site.facebook.app_id }}" />
  {% endif %}
{% endif %}

{% if page.url == "/" and site.webmaster_verifications %}
  {% if site.webmaster_verifications.google %}
    <meta name="google-site-verification" content="{{ site.webmaster_verifications.google }}">
  {% endif %}
  {% if site.webmaster_verifications.bing %}
    <meta name="msvalidate.01" content="{{ site.webmaster_verifications.bing }}">
  {% endif %}
  {% if site.webmaster_verifications.alexa %}
    <meta name="alexaVerifyID" content="{{ site.webmaster_verifications.alexa }}">
  {% endif %}
  {% if site.webmaster_verifications.yandex %}
    <meta name="yandex-verification" content="{{ site.webmaster_verifications.yandex }}">
  {% endif %}
{% endif %}
