<a href="https://www.facebook.com/smjfulda/" title="Folge SMJ-Fulda auf Facebook">
  <svg class="social-icon"><use class="icon" xlink:href="#icon-facebook" /></svg>
  <span class="icon-label">Facebook</span>
</a>
<a href="https://twitter.com/{{ site.twitter.username }}" title="Folge @{{ site.twitter.username }} auf Twitter">
  <svg class="social-icon"><use class="icon" xlink:href="#icon-twitter" /></svg>
  <span class="icon-label">Twitter</span>
</a>
<a href="https://instagram.com/{{ site.instagram.username }}" title="Folge @{{ site.instagram.username }} auf Instagram">
  <svg class="social-icon"><use class="icon" xlink:href="#icon-instagram" /></svg>
  <span class="icon-label">Instagram</span>
</a>
<a href="{{ '/feed.xml' | absolute_url }}" title="RSS-Feed von smj-fulda.org">
  <svg class="social-icon"><use class="icon" xlink:href="#icon-rss" /></svg>
  <span class="icon-label">RSS-Feed</span>
</a>
<a href="mailto:{{ site.email }}" title="Schreib uns eine E-Mail">
  <svg class="social-icon"><use class="icon" xlink:href="#icon-email" /></svg>
  <span class="icon-label">E-Mail</span>
</a>
