<ol>
{% for event in site.data.upcoming_events %}
  {% assign start_day = event.start | date:'%Y-%m-%d' %}
  {% assign end_day   = event.end   | date:'%Y-%m-%d' %}
  {% assign start_size = event.start | size %}
  <li class="naechste-termine__item" itemscope itemtype="http://schema.org/Event">
    <a href="{% if event.link %}{{ event.link }}{% else %}{{ site.baseurl }}/termine/{{ event.year }}#{{ event.i_cal_uid | uri_escape }}{% endif %}" itemprop="url">
      <strong class="naechste-termine__summary" itemprop="name">{{ event.summary }}</strong>
    </a>
    <span class="naechste-termine__date">
      <time class="naechste-termine__start" datetime="{{ event.start | date_to_xmlschema }}" itemprop="startDate">
        {{ event.start | localize:'%e. %B %Y' }}
        {% if start_size > 10 %}{{ event.start | localize: '%H:%M' }}{% endif %}
      </time>
      {% if event.end %}
      bis
      <time class="termin__end" datetime="{{ event.end | date_to_xmlschema }}" itemprop="endDate">
        {% if start_day != end_day %}
          {{ event.end | localize: '%e. %B %Y' }}
        {% endif %}
        {% if start_size > 10 %}
          {{ event.end | localize: '%H:%M' }}
        {% endif %}
      </time>
      {% endif %}
      {% if event.location %}
      <span itemprop="location" itemscope itemtype="http://schema.org/Place"><meta itemprop="name address" content="{{ event.location }}" />
      {% endif %}
      <meta itemprop="description" content="{{ event.description | truncatewords: 30 }}" />
    </span>
  </li>
{% endfor %}
</ol>
