.home__main-content {

  padding: 1rem 0;

  > aside > * {
    padding: .7rem;
    font-size: .85rem;
  }

  @media screen and (min-width: #{ $max-width + $sidebar-width + 5rem}) {
    > aside {
      h3 {
        font-size: 1rem;
        margin: 0;
      }
    }
  }
}

$home-max-width: 70rem;
.kacheln {
  max-width: $home-max-width;
}
.newsfeed {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: $home-max-width;
  padding: 0;
}

.newsfeed__item {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: $home-max-width / 2;
  flex-basis: $home-max-width / 2.8;
  flex-grow: 1;
  font-size: .85rem;
}

.newsfeed > .newsfeed__item {
  padding: .5rem;
}

.berichte-index .newsfeed__item + .newsfeed__item {
  margin-top: 2.5rem;
}

.kontakt-info {
  font-size: .85rem;
  display: flex;
  padding: 0 1rem;
  flex-basis: 50%;
  flex-grow: 1;
  align-content: flex-start;
  flex-wrap: wrap;
}
.kontakt-info__section {
  margin-right: 2.5rem;
}
.kontakt-info__footer {
  flex-basis: 100%;
  padding: 1.5em 2em;
}

.site-title {
  &:link, &:hover, &:visited, &:active, &:focus {
    color: color(white);
  }
}

.jahresparole {
  font-style: italic;
}

svg.icon {
  max-height: 3em;

  @include respond-to(large) {
    max-height: 5em;
  }

  margin: 0;

  &.icon-jesus {
    max-width: 6em;

    @include respond-to(large) {
      max-width: 11em;
    }
  }

  path, rect {
    fill: currentColor;
  }
}

.paterspruch.container {
  display: flex;
  padding: 2.5em 0;

  > svg {
    fill: color(lighter);
    max-width: 8em;
    flex-basis: 30%;
    margin-right: 2.5em;
  }

}

.home-aside {
  display: flex;
  flex-wrap: wrap;
  max-width: $home-max-width;
  padding: 2.5rem 0;
  justify-content: center;
}
