.termin {
  margin-bottom: 1.6em;
  font-size: .9em;

  &__summary {
    margin: 0;
  }

  &__meta {
    color: color(light);
  }

  * + &__location::before {
    content: '·';
    padding-right: .4em;
    padding-left: .2em;
  }
}

.jahresparole-hinweis {
  text-align: center;
  margin: 2em 0;
}

.termin__header {
  margin-left: -.4rem;
  margin-right: -.4rem;
  &.article__header--image.article__header--teaser {
    padding-bottom: 0;
    min-height: 11em;
  }
}
.termine__month {
  font-weight: normal;
  font-style: italic;
  font-family: $font-body;
  font-size: 3em;
  color: #bbb;
}
