$colors: (
  dark:                  hsl(  0,     0%,  13%),  // #212121
  midtone:               hsl(  0,     0%,  30%),  // #4d4d4d
  light:                 hsl(  0,     0%,  45%),  // #737373
  lighter:               hsl(  0,     0%,  60%),  // #999
  error:                 hsl( 21,   100%,  36%),  // #b40
  faint-white:           hsl(  0,     0%,  90%),  //

  copy:                  hsl(  0,     0%,  13%), // #222
  headlines: copy,
  //action:                hsl(240,   100%,  27%), // #000088
  accent:                hsl(  0,   100%,  27%), // #880000
  action:                accent,
  action-hover:          hsl(  0,    60%,  42%), // #0000C7
  action-active:         hsl(  0,   100%,  73%), // #7575ff
);

// Gutenberg config
$edit-mode: false;

$max-width: 40rem;
$color-font-body: color(copy);

$font-body: 'Open Sans', Arial, Helvetica, Sans-serif;
$font-accent: 'Titillium Web', 'Open Sans', sans-serif;
$font-headings: $font-accent;
$base-url: "" !default;

// layout
$sidebar-width: 18;
$base-line-height: 1.62;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 320px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
  x-large: (min-width: 1680px)
) !default;
