﻿@charset 'UTF-8';

.article__title {
  margin-top: 0;
}
.article__date + .article__author:before {
  content: '·';
  padding-right: .4em;
  padding-left: .2em;
}

.article--post {
  margin-bottom: 5rem;
}

.article__lead {
  margin-bottom: 0;

  p {
    margin-bottom: 0;
    &:first-child {
      margin-top: 0;
    }
    + p {
      margin-top: .8rem;
    }
  }
}
.article__meta {
  font-size: .85em;
  padding-top: .5rem;
  padding-bottom: .5rem;

  @extend %container-padding;
}

.article__header {
  @extend %container-full-width;

  &--teaser {
    margin-bottom: .5rem;
  }

  > * {
    @extend %container-padding;
  }

  &--image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    min-height: 8em;


    &.article__header--image--align-top {
      background-position: center 33%;
    }

    &.article__header--teaser {
      padding-bottom: 35%;
      overflow: hidden;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        transition: all .8s;
        a:focus > &,
        a:hover > & {
          transform: scale(1.02);
        }
      }

       > .article__title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }

    &.article__header--full {
      padding-top: 15em;
      padding-top: 13vw;

      color: #ffffff;
      text-shadow: 0 0 25px rgba(0,0,0,.9);

      > .article__title {

      }

      .article__tagline {
        color: #dddddd;
      }

      > .article__meta {
        color: #dddddd;
        font-weight: bold;
      }
    }
  }

  &:not(.article__header--image) {
    .article__tagline {
      color: color(lighter);
    }
    .article__meta {
      color: color(light);
    }
  }

  &--full {
    padding-top: 5rem;
    max-width: inherit;

    > * {
        @media (min-width: 50rem) {
        margin-left: calc((100vw - 40rem)/2);
        margin-right: calc((100vw - 40rem)/4);
      }
    }
  }

  > hgroup {
    margin-bottom: 1.6rem;

    >.article__title {
      margin: 0;

      + .article__tagline {
        margin-top: .3rem;
      }
    }
    > .article__tagline {
      max-width: $max-width;
      margin: 0;
    }
  }
}

.article__tagline {
  font-size: 1.2em;
  line-height: 1.4;
}

.article__title--teaser {
  padding: .5rem .4rem;
  margin: 0;
  font-size: 1.8rem;

  .article__header--image > & {
    background: linear-gradient(to top, rgba(0,0,0,.4), rgba(0,0,0,0));
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  }

  > a {
    color: inherit;
  }
}

