.contact {
  line-height: 1.3;
  margin: 1em 0;
}

.contact__name {
  margin: 0;
  line-height: 1.4;
}

.contact__office {
  display: block;
  margin: 0;

  font-size: .85em;
  color: color(light);
  font-family: inherit;
}

.contact__mail {
  font-size: .85em;
  @include font-medium;

  a {
    &:link, &:visited {
      color: color(light);
    }
  }
}

.contact {
  position: relative;
  padding-left: 3.6em;

  .kontakt-info--oneline & {
    margin-right: 2.5rem;
  }

  > .contact__image {
    display: block;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    background-color: #eee;
    position: absolute;
    left: 0;
    margin-top: .5em;
  }
}
