.cover-gallery {
  display: flex;
  flex-wrap: wrap;
}

.zeitung-cover {
  display: block;
  margin: .3em;
  box-shadow: 2px 2px 3px #888;
  border-radius: .1em;
  max-width: 48%;

  @include respond-to(small) {
    max-width: 31%;
  }

  @include respond-to(medium) {
    max-width: 23%;
  }

  &:hover,
  &:focus {
    transform: scale(1.01);
    filter: sepia(0.3) blur(.5px);
    box-shadow: 3px 3px 4px #666;
  }

  > img {
    display: block;
    max-width: 100%;
    border-radius: .1em;
  }
}
