.cover {
  &.cover-home {
    background-image: linear-gradient(rgba(200,200,200,.2), rgba(150,150,150,.2)), url($base-url + "/images/cover_home.jpg");
  }

  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 23vw;
  min-height: 12rem;
  background-position: center center;
  padding-top: 1.8rem; // site-header height

  /*@include respond-to(large) {
    font-size: 2em;
  }*/
}

.cover-title {
  margin-top: 2rem; // height of cover__social-links
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;

  font-size: 1em;
  max-width: inherit;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  .cover--image & {
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.8);
  }

  > h1 {
    font-size: 2em;
    margin: 0;
  }

  @include respond-to(large) {
    font-size: 1.4em;
  }

  @include respond-to(x-large) {
    font-size: 2em;
  }
}

.social-links.cover__social-links {
  display: flex;
  justify-content: flex-end;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  > a {
    &:link, &:visited {
      color: color(white);
    }
    &:hover, &:focus {
      color: color(accent);
      background-color: rgba(255,255,255,.5);

      border-radius: 100%;
      transform: scale(1.25);
      transition: background-color .5s, transform .5s ease-out;
    }
  }

  .icon-label {
    display: none;
  }
}
