.site-footer {
  background-color: color(faint-white);
  width: auto;

  font-size: .85rem;

  a:link, a:visited {
    color: color(copy);
    @include font-normal;
  }
  a:hover, a:focus {
    color: color(light);
  }
}

.site-footer__content {
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  max-width: $max-width + $sidebar-width;
}

.site-footer__section {
  padding: 1.5em 1em;
  flex-grow: 1;
  flex-basis: 10em;
  max-width: 18em;

  > a {
    display: block;
    margin: 0;
  }
}
