$inner_padding: .5rem

.instafeed:not(:empty)
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: flex-start
  background: #F8F4F0
  padding: 2em 1em
  margin: 2em 0

.instafeed__entry
  flex-basis: 15em
  flex-shrink: 1
  display: flex
  flex-direction: column

  border: 1px solid #ddd
  margin: .5rem
  border-radius: .3rem
  background: #fff
  box-shadow: 1px 1px 2px rgba(0,0,0,.15)

  > *
    display: block

.instafeed__image
  display: block
  border-top-left-radius: .3rem
  border-top-right-radius: .3rem

.instafeed__location
  display: block
  font-size: .8em
  color: color(light)
  padding: 0 $inner_padding

.instafeed__caption
  display: block
  font-size: .9em
  padding: 0 $inner_padding
  line-height: 1.5

  &:not(:empty)
    padding-bottom: $inner_padding

.instafeed__location:empty + .instafeed__caption:not(:empty)
  padding-top: .3em

.instafeed__tag
  font-weight: normal
