.kacheln {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0;

  @media screen and (min-width: #{ $max-width + 5rem }) {
    max-width: #{2 * $max-width };
  }
}

.kachel {
  flex: 1 0 10rem;
  max-width: 15rem;
  padding: .25rem;

  @include respond-to(large) {
    max-width: 18rem;
    padding: 0 .5rem;
  }

  text-align: center;
  font-family: $font-accent;

  .icon {
    height: 5em;
    display: block;
    margin: auto;
    margin-bottom: .25rem;
  }

  > h3 {
    font-size: 1rem;

    font-weight: 600;
    text-transform: uppercase;
    margin: 0;

    > a {
      text-decoration: none;
    }
  }

  > p {
    font-size: .85rem;
    line-height: 1.35;

    margin: .2rem 0;
  }
}


.kachel__link {
  transition: all .5s;
  display: block;
  position: relative;

  &:link, &:visited {
    color: color(action);
    letter-spacing: .01em;
  }
  &:hover, &:focus {
    text-shadow: 0 0 3em color(action-hover);
    color: color(action-hover);
    letter-spacing: .05em;
  }
  &::after {
    content: "";
    border: .2em solid #ffeade;
    width: 5em;
    height: 5em;
    position: absolute;
    left: 50%;
    top: 0;
    opacity: 0;
    margin-left: -2.5em;
    border-radius: 50%;
    z-index: -10;
  }
  &:hover::after,
  &:focus::after {
    animation: kachelCircle .5s linear;
  }
  > .icon {
    transition: transform .5s;
  }
  &:hover > .icon,
  &:focus > .icon {
    transform: scale(1.2) translateY(-.3em);
  }
}

@keyframes kachelCircle {
  0% {
    opacity: 0;
    transform: scale(.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
