.more-link {
  @extend %button;

  display: block;
  padding-right: 2em;
  margin: 1.5em auto;
  max-width: 20em;

  &::after {
    content: "❯";
    float: right;
    transform: translate(2em);
    transition: transform .5s, opacity .2s;
    line-height: 1.5;
    opacity: 0;
    margin-right: -1em;
  }

  &:hover::after,
  &:focus::after {
    transform: scale(2);
    opacity: 1;
  }
}
