.naechste-termine {
  background-color: #FEC;
  flex-basis: 21rem;
  font-size: .85rem;
  padding: .5rem;

  > ol {
    list-style: none;
    padding: 0;
  }
}

.naechste-termine__item {
  $line-height: 1.3;
  line-height: $line-height;

  + .naechste-termine__item {
    margin-top: #{$line-height / 2}em;
  }
}

.naechste-termine__date {
  font-size: 90%;
}

.naechste-termine__summary {
  font-weight: bold;
  display: block;
  margin: 0;
}
