.paginator {
  display: flex;
  font-size: 80%;
  flex-wrap: wrap;
  padding: 0 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  @media (max-width: $max-width + 4rem) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
.pagination {
  &--prev, &--next, &--empty {
    flex-basis: 50%;
  }
}
:not(.pagination--empty).pagination {
  &--prev, &--next {
    padding: .5em;
    position: relative;
    min-width: 12em;

    > .postref__date {
      display: block;
    }

    > .postref__title {
      display: block;
      line-height: 1.3;
    }

    &::before {
      position: absolute;
      font-size: 270%;
      font-weight: bold;
      line-height: 1;
      color: color(light);
      transition: transform .4s, color .2s;
    }

    &:hover::before,
    &:focus::before {
      color: currentColor;
      transform: scale(1.2);
    }
  }

  &--prev {
    text-align: right;

    &::before {
      content: "❮";
      right: 100%;
    }
  }

  &--next {
    text-align: left;

    &::before {
      content: "❯";
      left: 100%;
    }
  }
}
