.flickr-photoset {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.3em;

  & > a {
    display: block;
    width: 20%;
    padding: .3em;

    > img {
      display: block;
    }

    > img, &.flickr-link {
      border-radius: .2em;
    }

    &:hover,
    &:focus {
      > img {
        filter: contrast(120%) sepia(.2) blur(.5px);
        transform: scale(1.01);
      }
    }

    &.flickr-link {
      background-color: #eee;
      color: #555;
      transform: scale(.94);
      overflow: hidden;
      text-indent: -9999px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: "";
        display: block;
        border: .3em solid;
        border-radius: 100%;
        width: 0;
        height: 0;
        box-shadow: .7em 0, -.7em 0;
        transition: transform .5s;
      }

      &:hover, &:focus {
        background-color: #ddd;
        color: #333;

        &::after {
          transform: scale(1.5) rotate(180deg);
        }
      }
    }
  }
}
