blockquote {
  font-style: italic;
  padding-left: 1.4375rem;
  margin: 0;
  // font-size: 95%;

  @include respond-to(large) {
    padding: 0 2rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.5;

    > small {
      font-size: .85rem;
      font-style: normal;
      display: block;
      text-align: right;
      padding-right: 2rem;
      color: color(light);
    }
  }
}

cite {
  display: block;
  font-style: normal;
}

// Quotes
figure blockquote {
  padding: 1em 0;

  @include respond-to(medium) {
    padding: 2em 0 1em;
    text-align: center;
  }
}

figure.container {
  padding: .5em;
}

figure {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
