.site-header {
  display: flex;
  background-color: #DDD;
  background-color: hsla(37, 30%, 60%, 1);
  background-color: hsla(37, 15%, 60%, .6);
  background-color: hsla(38, 20%, 70%, .8);
  flex-direction: column;
  align-items: center;
  margin: 0;

  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;

  > * {
    margin-bottom: 0;
  }
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
  max-width: 43em;
  font-size: .8rem;
  align-items: center;
  justify-content: flex-start;
  font-family: $font-accent;

  @include respond-to(large) {
    font-size: .9rem;
  }

  &--main {
    font-weight: bold;
    text-transform: uppercase;
  }
  &--section {

  }
}

.page-link {
  margin-bottom: 0;

  &:link, &:visited {
    color: color(copy);
  }

  .site-nav--main > & {
    padding: .2em .5em ;

    border-bottom: .2em solid transparent;
    &:hover, &:focus {
      border-color: color(midtone);
    }
  }

  &:hover, &:focus {
    color: color(midtone);
  }

  .site-nav--main:nth-last-child(2n) > & {
    padding-bottom: 0;
  }

  .site-nav--section > & {
    padding: 0 .5em .2em;
  }

  &--active, &--section {
    &:link, &:visited {
      color: color(accent);
    }

    &--main {
    }

    &--section {
      font-weight: bold;
    }
  }

  &.page-link--section {
    border-color: currentColor;
  }
}
