svg.social-icons path {
  fill: inherit;
}

.social-links {
  display: flex;
  justify-content: flex-start;

  > a {
    display: block;
    &:link, &:visited {
      color: color(accent);
    }

    > .social-icon {
      display: block;
    }

    /*&:hover {
      > svg > use.icon {
        fill: color(accent-hover);
      }
    }*/
  }
}


.social-icon {
  width: 2em;
  height: 2em;
  vertical-align: middle;

  > use.icon {
    fill: currentColor;
  }
}
