.table--list {
  border-collapse: collapse;
  border-spacing: 0;

  td, th {
    padding: 0 .3rem;
    text-align: left;
  }

  tr:not(.table__head) > th {

  }

  tr {
    transition: background-color .5s;
    border-bottom: 1px solid transparent;

    &:hover,
    &:focus {
      background-color: hsla(38, 20%, 70%, .1);
      border-bottom-color: hsla(38, 20%, 70%, .2);
    }
  }
  tr.table__head {
    background-color: hsla(38, 20%, 70%, .2);
    border-bottom: 2px solid hsla(38, 20%, 70%, .5);
  }
}
