.yearnav, .monthnav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    display: block;
    padding: .3em;

    &--active {
      font-weight: bold;
    }
  }
}

.monthnav {
  &__item {
    font-weight: normal;
  }
}
