<!DOCTYPE html>
<html lang="de">
<head>
  <!--[if IE]>
  {% include stylesheets.html %}
  <![endif]-->
  {% include head.html %}
</head>
<body>
  <!--[if !IE]> -->
  {% include stylesheets.html lazyload=true %}
  <!-- <![endif]-->

  {% include header.html %}

  {{ content }}

  {% include footer.html %}
</body>
</html>
