---
layout: default
---
<article class="page page-full">
  {% if page.cover_image %}
  <div class="cover cover--page cover--image" style="background-image: url({{ page.cover_image | prepend: '/images/pages/' | prepend: site.baseurl }});">
    <div class="cover-title">
      <h1>
        {{ page.title }}
      </h1>
    </div>
  </div>
  {% else %}
  <header class="cover cover--page">
    <div class="cover-title">
      <h1>
        {{ page.title }}
      </h1>
    </div>
  </header>
  {% endif %}

  <div class="container container--page-content page-content">
  {{ content }}
  </div>
</article>
