---
layout: default
---
<article class="article article--post" itemscope itemtype="http://schema.org/Article">
  {% assign img_url = page.image.cover | replace: '!baseurl!', site.baseurl %}
  {% if page.image.cover %}<meta itemprop="image" content="{{ img_url }}" />{% endif %}
  <header class="container article__header article__header--full{% if page.image.cover %} article__header--image{% if page.image.align %} article__header--image--align-{{ page.image.align }}{% endif %}" style="background-image: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,0.4) 90%, rgba(0,0,0,0.5)), url({{ img_url }});{% endif %}">

    <hgroup>
      <h1 class="article__title" itemprop="headline name">{{ page.title }}</h1>
      {% if page.tagline %}
      <h3 class="article__tagline" itemprop="alternativeHeadline">{{ page.tagline }}</h3>
      {% endif %}
    </hgroup>

    <div class="article__meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" class="article__date" itemprop="datePublished">{{ page.date | localize: '%e. %B %Y' }}</time>
      {% if page.author %}<span class="article__author" itemprop="author">{{ page.author }}</span>{% endif %}

        <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
          <meta itemprop="url" content="https://smj-fulda.org/" />
          <meta itemprop="name" content="Schönstatt-Mannesjugend Fulda" />
          <meta itemprop="logo" content="https://smj-fulda.org/images/smj-logo.png" />
        </span>
    </div>
  </header>

  <div class="container article__content page-content" itemprop="text">
    {{ content }}
  </div>
</article>

<aside class="paginator container">
  {% if page.previous %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" rel="prev" class="postref pagination--prev" title="{{ page.previous.excerpt | strip_html | strip_newlines | truncatewords: 20 }}">
      <span class="postref__title">{{ page.previous.title }}</span>
      <time class="postref__date" datetime="{{ page.previous.date | date_to_xmlschema }}">{{ page.previous.date | localize: '%e. %B %Y' }}</time>
    </a>
  {% else %}
    <span class="pagination--prev pagination--empty" />
  {% endif %}

  {% if page.next %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" rel="next" class="postref pagination--next" title="{{ page.next.excerpt | strip_html | strip_newlines | truncatewords: 20 }}">
      <span class="postref__title">{{ page.next.title }}</span>
      <time class="postref__date" datetime="{{ page.next.date | date_to_xmlschema }}">{{ page.next.date | localize: '%e. %B %Y' }}</time>
    </a>
  {% else %}
    <span class="pagination--next pagination--empty" />
  {% endif %}
</aside>

{% if site.related_posts %}
<aside class="related-posts container">
  <h3>Ähnliche Artikel</h3>
  <ol class="related-posts__list">
  {% for relpost in site.related_posts %}
    <li class="postref">
      <a href="{{ site.baseurl }}{{ relpost.url }}" title="{{ relpost.excerpt | strip_html | strip_newlines | truncatewords: 20 }}">
        <span class="postref__title">{{ relpost.title }}</span>
        <time class="postref__date" datetime="{{ relpost.date | date_to_xmlschema }}">{{ relpost.date | localize: '%e. %B %Y' }}</time>
      </a>
    </li>
  {% endfor %}
  </ol>
</aside>
{% endif %}
