---
layout: page
---
{% assign current_year = site.time | date:'%Y' %}
{% assign page_year = page.events_year %}
{% unless page_year %}{% assign page_year = current_year %}{% endunless %}
{% assign current_year_events = site.data.events | where:'year',page_year %}

{% assign next_year = current_year | plus: 2 %}

<nav class="yearnav">
{% for year in (site.termine_start_year..next_year) %}
  {% if year == page_year %}
  <span class="yearnav__item yearnav__item--active">
    {{ year }}
  </span>
  {% else %}
  <a href="{{ '/termine/' | append: year | prepend: site.baseurl }}" title="Terminkalender für das Jahr {{ year }}" class="yearnav__item">
    {{ year }}
  </a>
  {% endif %}
{% endfor %}
</nav>
<nav class="monthnav">
{% for month in (1..12) %}
  {% capture first_day_in_month %}{{ page_year }}-{{ month }}-01{% endcapture %}
  <a href="#{{ first_day_in_month | localize:'%B' | downcase }}" class="monthnav__item">
    {{ first_day_in_month | localize:'%B' }}
  </a>
{% endfor %}
</nav>

<h2>Termine {{ page_year }}</h2>

<p>Du kannst unsere Termine auch als iCal-Kalender abonnieren:
<a href="{{ site.google_calendar_link }}" type="application/ical" class="btn">SMJ-Fulda Veranstaltungen</a></p>

{% if page.jahresparole %}
<div class="jahresparole-hinweis">
  <a href="{{ site.baseurl }}/jahresparole">Jahresparole:</a>
  <quote class="jahresparole">{{ page.jahresparole }}</quote>
</div>
{% endif %}

{% assign last_month = -1 %}
{% for event in current_year_events %}
  {% assign month      = event.start  | date:'%m' %}
  {% assign start_day  = event.start  | date:'%Y-%m-%d' %}
  {% assign end_day    = event.end    | date:'%Y-%m-%d' %}
  {% assign start_size = event.start  | size %}
  {% if month != last_month %}
  <h2 class="termine__month" id="{{ event.start | localize:'%B' | downcase }}">{{ event.start | localize:'%B' }}</h2>
  {% assign last_month = month %}
  {% endif %}
  <div class="termine__item termin" itemscope itemtype="http://schema.org/Event" id="{{ event.i_cal_uid | uri_escape }}">
    {% if event.image %}
    <header class="termin__header article__header article__header--teaser article__header--image{% if event.image.align %} article__header--image--align-{{ event.image.align }}{% endif %}" style="background-image: url({{ event.image.url }});">
    {% else %}
    <header class="termin__header article__header article__header--teaser">
    {% endif %}
      <h3 class="termin__summary article__title article__title--teaser" itemprop="name">
      {% if event.link %}<a href="{{ event.link }}" itemprop="url">{% endif %}
        {{ event.summary }}
      {% if event.link %}</a>{% endif %}
      </h3>
    </header>
    <span class="termin__meta">
      {% if event.html_link %}
      <a href="{{ event.html_link }}" class="gcalendar-link" title="Termin in Google Calendar">📅</a>
      {% endif %}
      <a href="#{{ event.i_cal_uid | uri_escape }}" class="incognito">
      <time class="termin__start" datetime="{{ event.start | date_to_xmlschema }}" itemprop="startDate">
            {{ event.start | localize:'%e. %B %Y' }}
            {% if start_size > 10 %}{{ event.start | localize: '%H:%M' }}{% endif %}
      </time>
      {% if event.end %}
      bis
      <time class="termin__end" datetime="{{ event.end | date_to_xmlschema }}" itemprop="endDate">
        {% if start_day != end_day %}
          {{ event.end | localize: '%e. %B %Y' }}
        {% endif %}
        {% if start_size > 10 %}
          {{ event.end | localize: '%H:%M' }}
        {% endif %}
      </time>
      {% endif %}
      </a>
      {% if event.location %}
      <span class="termin__location" itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="name address">{{ event.location }}</span></span>
      {% endif %}
    </span>
    <div class="termin__description" itemprop="description">
      {{ event.description | newline_to_br }}
    </div>
  </div>
{% else %}
<p class="empty">Keine Termine für dieses Jahr.</p>
{% endfor %}

<nav class="monthnav">
{% for month in (1..12) %}
  {% capture first_day_in_month %}{{ page_year }}-{{ month }}-01{% endcapture %}
  <a href="#{{ first_day_in_month | localize:'%B' | downcase }}" class="monthnav__item">
    {{ first_day_in_month | localize:'%B' }}
  </a>
{% endfor %}
</nav>
<nav class="yearnav">
{% for year in (site.termine_start_year..next_year) %}
  {% if year == page_year %}
  <span class="yearnav__item yearnav__item--active">
    {{ year }}
  </span>
  {% else %}
  <a href="{{ '/termine/' | append: year | prepend: site.baseurl }}" title="Terminkalender für das Jahr {{ year }}" class="yearnav__item">
    {{ year }}
  </a>
  {% endif %}
{% endfor %}
</nav>
