<div class="cover cover-home cover--image">
  <div class="cover-title">
    <h1>
      <a class="site-title" href="{{ site.baseurl }}/">Schönstatt-Mannesjugend im Bistum Fulda</a>
    </h1>
    <div class="jahresparole" title="Jahresparole der SMJ-Deutschland">{{ site.aktuelle_jahresparole }}</div>
  </div>

  <div class="cover__social-links social-links">
    {% include social-links.html %}
  </div>
</div>
