{% for item in site.posts limit: 4 %}
<article class="newsfeed__item article article--teaser" itemscope itemtype="http://schema.org/Article">
  {% if item.link %}<a href="{{ item.link | replace: '!baseurl!', site.baseurl }}" itemprop="url mainEntityOfPage">
  {% elsif item.excerpt %}<a href="{{ item.url | prepend: site.baseurl }}" itemprop="url mainEntityOfPage">
  {% endif %}
    {% if item.image.cover %}
      {% assign img_url = item.image.cover | replace: '!baseurl!', site.baseurl %}
      <meta itemprop="image" content="{{ img_url }}" />
      <div style="background-image: url({{ img_url }});" class="article__header article__header--teaser article__header--image">
    {% else %}
      <div class="article__header article__header--teaser">
    {% endif %}
      <h3 class="article__title article__title--teaser" itemprop="headline name">
          {{ item.title }}
      </h3>
    </div>
  {% if item.link %}</a>{% elsif item.excerpt %}</a>{% endif %}
  <div class="article__lead" itemprop="description">
    {{ item.excerpt | default: item.content | markdownify }}
  </div>
  <div class="article__meta">
    <time datetime="{{ item.date | date_to_xmlschema }}" class="article__date" itemprop="datePublished">{{ item.date | localize: '%e. %B %Y' }}</time>
    {% if item.author %}<span class="article__author" itemprop="author">{{ item.author }}</span>{% endif %}

    <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="url" content="http://smj-fulda.org/" />
      <meta itemprop="name" content="Schönstatt-Mannesjugend Fulda" />
      <meta itemprop="logo" content="https://smj-fulda.org/images/smj-logo.png" />
    </span>
  </div>
</article>
{% endfor %}
