%button {
  padding: .5em 1.5em;
  border-radius: .2em;
  font-weight: bold;
  display: inline-block;

  &, &:link, &:visited {
    color: #EEEEEE;
    background-color: color(action-hover);
  }

  &:hover, &:focus {
    background-color: color(action);
    color: #FFFFFF;
  }

  > .social-icon {
    margin: -.2em 0;
    transition: transform .5s;
  }
  &:hover > .social-icon,
  &:focus > .social-icon {
    transform: scale(1.2);
  }
}

.btn {
  @extend %button;
}
