.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  &--page-content {
    margin-bottom: 5rem;
  }
  &--article__content {

  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 2.5rem 0;

  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

%container-padding {
  @media (max-width: $max-width + 2.5rem) {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
%container-full-width {
  @media (max-width: $max-width + 2.5rem) {
    margin-left: -.5rem;
    margin-right: -.5rem;
  }
}

.container {
  @extend %container-padding;
}
