img {
  max-width: 100%;
}

figure {
  padding: 2.5rem 0;
}

figcaption {
  font-size: .85rem;
  color: color(light);
}

.page-content {
  $figwidth: 18rem;
  $singleWidth: ($figwidth + 2.5rem) + $max-width + 8rem;
  $doubleWidth: ($figwidth + 2.5rem) * 2 + $max-width + 25rem;

  > figure:not(.full-width) {
    width: $figwidth;
  }

  > figure.full-width {
    //margin: 0 !important;
    //float: none !important;
    @extend %container-full-width;

    > figcaption {
      @extend %container-padding;
    }
  }

  @media (max-width: $singleWidth) {
    margin: auto;

    > figcaption {
      text-align: center;
    }
  }

  @media (min-width: $singleWidth) and (max-width: $doubleWidth) {
    padding-right: $figwidth + 2.5rem;

    box-sizing: content-box;

    > figure:not(.full-width) {
      float: right;
      margin-right: -1 * ($figwidth + 2.5rem);
      clear: right;
    }
  }

  > figure {
    @media (min-width: $doubleWidth) {
      &:not(.full-width):nth-of-type(2n) {
        float: right;
        margin-right: -1 * ($figwidth + 2.5rem);
        clear: right;
      }

      &:not(.full-width):nth-of-type(2n + 1) {
        float: left;
        margin-left: -1 * ($figwidth + 2.5rem);
        clear: left;
      }
    }
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
