/* Headings
   ========================================================================== */

// Headings Options
// [ h1: size (in rem), line height (* leading), margin top (* leading), margin bottom (* leading) ]
$headings: (
  h1: (2.5, 1.8, 4, 1),
  h2: (1.6875, 1.5, 2.5, .5),
  h3: (1.375, 1, 2, .5),
  h4: (1.2, 1, 1.5, .5),
  h5: (1, 1, 2.5, .5),
  h6: (1, 1, 2.5, .5)
) !default;

// Set headings sizes, line-heights and margins
@each $heading, $properties in $headings {
  #{$heading} {
    font-size: nth($properties, 1) * 1rem;
    line-height: nth($properties, 2) / nth($properties, 1) * $base-line-height;
    margin-top: nth($properties, 3) * $base-line-height * 1rem;
    margin-bottom: nth($properties, 4) * $base-line-height * 1rem;
  }
}

// Set margins between headings
h1 + h2 {
  margin-top: $base-line-height * 1rem;
}

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: $base-line-height * .5rem;
}

h5 + h6 {
  margin-top: $base-line-height * -.5rem;
}

h6 {
  font-style: italic;
  font-weight: normal;
}

// Change headings font if a heading font is set
@if $font-headings != null {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-headings;
  }
}

hgroup {
  display: block;
}
