// Clear margin for line breaks
br {
}
// Enable small caps if available & fix letter spacing
abbr {
  letter-spacing: 0.1em;
}

// Address styling not present in IE 8/9/10/11, Safari, and Chrome.
abbr[title] {
  border-bottom: 1px dotted;
}

// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
b,
strong {
  font-weight: normal;

  @extend %font-medium;
}

// Address styling not present in Safari and Chrome.
dfn {
  font-style: italic;
}

// Prevent `em` and `i` affecting `line-height` in all browsers.
em,
i {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

// Address styling not present in IE 8/9.
mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 70%;
}

// Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Paragraph
========================================================================== */

// Attention grabber
.attention-grabber {
  font-size: 1.2rem;
}

// Text Alignment
.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

// Fix letter spacing for uppercase
.uppercase {
  letter-spacing: .1em;
  text-transform: uppercase;
}
