// Font defaults
html {
  box-sizing: border-box;
  font-size: 90%;
  line-height: $base-line-height;

  font-family: $font-body;
  color: $color-font-body;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  @include respond-to(medium) {
    font-size: 100%;
  }

  @include respond-to(large) {
    font-size: 120%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a.incognito {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  &:link, &:visited, &:hover, &:active {
    color: inherit;
  }
}
a {
  text-decoration: inherit;
  transition: color .5s;
  //@include font-medium;
  font-weight: 600;
  font-size: .96em;

  &:link, &:visited {
    color: color(action);
  }

  &:hover, &:focus {
    color: color(action-hover);
  }

  &:active {
    color: color(action-active);
  }
}
h1, h2, h3 {
  font-family: $font-accent;
}
